* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

nav {
	background: #222;
	padding: 5px 20px;
}

ul {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logo a:hover {
	text-decoration: none;
}

.menu li {
	font-size: 16px;
	padding: 15px 5px;
	white-space: nowrap;
}

.logo a,
.toggle a {
	font-size: 20px;
}

.button.secondary {
	border-bottom: 1px #444 solid;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	order: 1;
}

.item.button {
	order: 2;
}

.item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
}

.item.active {
	display: block;
}

.toggle {
	cursor: pointer;
}

.bars {
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.bars:before,
.bars:after {
	background: #999;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.bars:before {
	top: 5px;
}

bars:after {
	top: -5px;
}

@media all and (min-width: 468px) {
	.menu {
		justify-content: center;
	}

	.logo {
		flex: 1;
	}

	.item.button {
		width: auto;
		order: 1;
		display: block;
	}

	.toggle {
		order: 2;
	}

	.button.secondary {
		border: 0;
	}

	.button a {
		padding: 7.5px 15px;
		background: teal;
		border: 1px #006d6d solid;
		border-radius: 50em;
	}

	.button.secondary a {
		background: transparent;
	}

	.button a:hover {
		text-decoration: none;
		transition: all .25s;
	}

	.button:not(.secondary) a:hover {
		background: #006d6d;
		border-color: #005959;
	}

	.button.secondary a:hover {
		color: #ddd;
	}
}

@media all and (min-width: 768px) {
	.item {
		display: block;
		width: auto;
	}

	.toggle {
		display: none;
	}

	.logo {
		order: 0;
	}

	.item {
		order: 1;
	}

	.button {
		order: 2;
	}

	.menu li {
		padding: 15px 10px;
	}

	.menu li.button {
		padding-right: 0;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-image: url('obg.jpg');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #ffffff;
}


.packages {
	margin: 20px;
	padding: 10px;
}

#packages ul li:not(:last-child) {
	margin-bottom: 10px;
}

#packages ul li {
	text-decoration: none;
	color: #ffff;
}

.packages a {

	cursor: pointer;
	color: #ffffff;
	font-size: 19px;
	margin-right: 10px;
	transition-duration: 0.3s;
	text-decoration: none;
	position: relative;
	left: 0%;
}

.packages a:hover {

	font-size: large;
	color: rgb(14, 155, 202);
	text-decoration-color: crimson;
	text-decoration-thickness: 5px;
}

.img {
	max-width: 220px;
	max-height: 220px;
}

.left-section,
.right-section {
  flex: 1; /* Make both sections grow to fill available space equally */
  padding: 50px; /* Add padding to the sections if desired */
}

.fcontainer {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.ul {
	list-style: none;
}

.footer {
	background-color: #24262b;
	padding: 70px 0;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}



/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

.form {
	margin: 20px;
	padding: 10px;
}

.row {
	margin: 20px;
	justify-content: space-between;

}

.ondp {
	margin: 20px;
}

.col {
	border: 2px #000000;
}

.col .advert {
	border: 2px #000000;
	width: 500px;
	max-height: 600px;
}